<footer>   
   <article class="footer">
    <p id="author"><a class="author" href="https://www.linkedin.com/in/bianca-aguiar-642811222/"> @SraSidle &copy; </a></p> 
   <p class="source"> Dados retirados de: <a href="https://pt.ucoin.net/catalog/?country=brazil"> Ucoin </a></p>    
   </article>  
</footer>