<header>
  <nav>

  <a href="/" id="logo">
    <img
      class="icon"
      src="https://gifimage.net/wp-content/uploads/2017/11/gold-coin-gif-8.gif"
    />
    <h1 class="name-site">Coin Catalog</h1>
  </a>
  <ul>
    <li><a href="/"> all </a></li>
    <li><a href="/register"> to add </a></li>
  </ul>

  <%- include('./search') %>

</nav>
</header>

