
    <nav>
      <a href="/">
        <img class="icon" src="https://th.bing.com/th/id/R.bf94affafb15048d284e1ac7238cd5cc?rik=Qzxb8Brlu8vFvw&pid=ImgRaw&r=0">
        <h1 id=""> Coin Catalog</h1>
      </a>
      <ul>
        
        <li><a href="/"> all </a></li>
        <li><a href="/register"> to add </a></li>
      </ul>

      <%- include('./search') %> 
    </nav>
  