<section>
    <div>
        <h3> Delete currency </h3>
        <a href="/" id="closeDel"><i class="bi bi-x-circle"></i></a>
    </div>

    <div>
        <p> Are you sure you want to delete this coin? </p>
        <div>
            <a href="/">No</a>
            <a href="/remove/<%=coinDel%>">Yes</a>
        </div>
    </div>
</section>

    
    
